<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @landingpage.email %>
</p>

<%= link_to 'Edit', edit_landingpage_path(@landingpage) %> |
<%= link_to 'Back', landingpages_path %>
